    
*{
    margin: 0;
    padding: 0;
    font-family: "Playwrite MX", cursive, sans-serif;
    color: #f2efdf;
    font-weight: bold;
}

body{
    background-color: #425047;
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100px;
    background-color: #232A2E;
    font-size: 36px;
}

#container{
    background-color: #f2efdf;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

button{
    background-color: #232A2E;
    width: 225px;
    height: 40px;
    margin: 1em 0;
    font-size: 18px;
    border-width: 3px;
    border-style: solid;
    border-radius: 25px;
}

button:hover {
  background-color: #2D353B;
}
